a {
    text-decoration: none;
}

i {
    color: black;
}

p{
    color: black;
}

.widthByCard {
    max-width: 700px;
}

.btnBack{
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 21%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
}